@import "./style.css";
main {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.workalert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: #c47300;
    opacity: 0.8;
    border-radius: 0 0 50% 50%;
    z-index: 10;
}

.workalert p {
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
    color: #ffff;
}

.desc {
    border: 5px solid #c47300;
    border-radius: 0.8rem;
    padding: 1rem;
    margin-inline: 8rem;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 400;
}

.product_actions {
    width: 100%;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product_actions button {
    padding: 0.5rem 1rem 1rem;
}

@media screen and (max-width: 980px) {
    .product_actions {
        justify-content: center;
        gap: 5rem;
    }
    .desc {
        padding: 0.8rem;
        font-size: 1.1rem;
        margin-inline: 4rem;
    }
    .product_actions button {
        padding: 0.5rem 1rem 0.7rem;
    }
}

@media screen and (max-width: 480px) {
    .product_actions {
        justify-content: center;
        gap: 4rem;
    }
    .desc {
        padding: 0.7rem;
        margin-inline: 0;
        font-size: 1rem;
    }
    .product_actions button {
        padding: 0.5rem 1rem 0.7rem;
    }
}